[user]
    name = onatm
    email = onatmercan@gmail.com
	signingkey = D98AA098CC159C89
[core]
    commentchar = $
    preloadindex = true
    fscache = true
    autocrlf = input
    safecrlf = true
    editor = nvim
	excludesfile = $HOME/.gitignore_global
[fetch]
    prune = true
[rebase]
    autosquash = true
[push]
    default = simple
[merge]
    tool = vimdiff
[alias]
    st = status
    co = checkout
    pr = pull --rebase
    tail = commit --amend --no-edit
    graph = log --decorate --oneline --graph
    sf = show --pretty="" --name-only
