set hlsearch
set visualbell
set noerrorbells
set ignorecase smartcase
set showmode
set surround
nnoremap <space>u :action FindUsages<cr>
nnoremap <space>k :action HighlightUsagesInFile<cr>
nnoremap <space>j :action EditorCompleteStatement<cr>
nnoremap <space>w :action SaveDocument<cr>
nnoremap <space>; :action RecentFiles<cr>
nnoremap <space>f :action GotoFile<cr>
nnoremap <space>s :action GotoSymbol<cr>
nnoremap <space>' ct'
nnoremap <space>" ct"
nnoremap <space>- ct-
nnoremap <space>_ ct_
nnoremap <A-j> :m .+1<CR>==
inoremap <A-j> <Esc>:m .+1<CR>==gi
nnoremap <A-j> :m .+1<CR>==
vnoremap <A-j> :m '>+1<CR>gv=gv
nnoremap <A-k> :m .-2<CR>==
nnoremap <A-k> :m .-2<CR>==
inoremap <A-k> <Esc>:m .-2<CR>==gi
vnoremap <A-k> :m '<-2<CR>gv=gv
inoremap <C-j> <Esc>
" built in search looks better
nnoremap / :action Find<cr>
" but preserve ideavim search
nnoremap g/ /
